@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  body {
    @apply bg-color-11 dark:bg-color-12;
  }
  h1 {
    @apply font-bold text-4xl text-color-08 tracking-[-0.1px] leading-[33px];
  }
  h2 {
    @apply font-bold text-2xl text-color-08  leading-[22px] tracking-[-0.75px];
  }
  h3 {
    @apply font-bold text-[15px] text-color-08 leading-[24px]  tracking-[-0.25px];
  }
  h4 {
    @apply font-bold text-[15px] text-color-08 leading-[15px]  tracking-[-0.25px];
  }

  p {
    @apply font-medium text-[13px] leading-[18px] text-color-08 tracking-[-0.25px];
  }
  p .variant {
    @apply font-medium text-[13px] leading-[15px] text-color-08 tracking-[-0.25px];
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  /* buttons */
  .btn {
    @apply transition-colors  duration-300 text-[15px] ease-in-out tracking-[-0.25px] font-bold rounded-[24px];
  }

  .btn-new-invoice {
    @apply w-[150px] h-[48px] bg-color-01 text-white hover:bg-color-02 flex items-center gap-3.5 justify-start px-2;
  }

  .btn-new-invoice .plus-icon {
    @apply bg-white w-[32px] h-[32px] rounded-full flex items-center justify-center;
  }

  .btn-paid {
    @apply w-[112px] md:w-[131px] h-[48px] bg-color-01 text-white hover:bg-color-02;
  }

  .btn-draft {
    @apply w-[117px] md:w-[133px] h-[48px] text-color-06 dark:text-color-05 bg-color-13 hover:bg-color-08 dark:hover:bg-color-03;
  }
  .btn-delete {
    @apply w-[89px] h-[48px] bg-color-09 hover:bg-color-10 text-white;
  }
  .btn-edit {
    @apply w-[73px] h-[48px] bg-color-14 text-color-07 dark:bg-color-04 dark:text-color-05 hover:bg-color-15 dark:hover:bg-white;
  }
  .btn-cancel {
    @apply w-[84px] h-[48px] md:w-[96px] bg-color-14 text-color-07 dark:bg-color-04 dark:text-color-05 hover:bg-color-15;
  }
  .btn-add-newitem {
    @apply w-[350px] h-[48px] bg-color-14 hover:bg-color-15 text-color-07;
  }

  .btn-auth {
    @apply w-full flex items-center justify-center gap-4;
  }
  .btn-back {
    @apply flex gap-4 text-[15px] font-bold items-center leading-[15px] tracking-[-0.25px];
  }

  /* Forms */

  .section-header {
    @apply text-[15px] leading-[15px];
  }

  .field {
    @apply space-y-[8px];
  }
  .label_and_error {
    @apply flex items-center justify-between;
  }
  .label_and_error .error-msg {
    @apply leading-[15px] tracking-[0.21px] font-semibold text-[10px] text-color-09;
  }

  .field label {
    @apply text-color-07 dark:text-color-07 text-[13px] leading-[15px] tracking-[-0.1px] font-medium;
  }

  .field input {
    @apply border-color-05 dark:border-color-04 dark:bg-color-03 dark:text-white border rounded-[4px] h-[46px] text-color-08 font-semibold text-[15px] tracking-[-0.25px] w-full focus:outline-none focus:border-color-02  dark:focus:border-color-01 transition-colors px-4;
  }

  .field .password {
    @apply flex items-center gap-4 pr-4 border   rounded-[4px] dark:bg-color-03 bg-white;
  }

  .field .password input {
    @apply border-none;
  }

  .field .eye {
    @apply text-color-07 size-5 cursor-pointer;
  }

  .field .forgot-password {
    @apply text-base underline;
  }

  form .terms {
    @apply text-color-07 text-[13px] font-normal text-center px-3 max-w-[400px] mx-auto;
  }

  form .terms span span {
    @apply underline;
  }

  .or-section {
    @apply flex items-center justify-center gap-4 mt-4;
  }

  .or-section span {
    @apply border-b w-[40%] border-color-07;
  }

  /* Nav */
  .nav {
    @apply bg-color-13 border h-[75px] md:h-[80px]  flex lgl:flex-col items-center justify-between pr-7 md:pr-8 lgl:pr-0 lgl:pb-4 lgl:w-[103px] lgl:h-screen  z-50;
  }
  .avatar {
    @apply border-l lgl:border-l-0 lgl:border-t border-color-16 pl-6 md:pl-8 lgl:pt-4 lgl:pl-0  h-[72px] lgl:h-[65px]  lgl:w-[103px] flex items-center  justify-center;
  }

  /* Invoice form */
  .invoice-form-overlay {
    @apply bg-black bg-opacity-30 backdrop-blur-[2px] grid  border-2 border-purple-600;
  }

  .invoice-form-container {
    @apply bg-white  w-full border-2 border-green-600 dark:bg-color-12;
  }
  .invoice-form-parent-element {
    @apply border-2  border-purple-800;
  }

  .form-overflow {
    @apply h-[67vh] lgl:h-[82vh] overflow-y-scroll  scrollbar-thin sm:px-14  px-6 pb-16;
  }

  .invoice-form .button-section {
    @apply border border-purple-800 h-[13vh] lgl:h-[15vh] sm:px-8  px-6;
  }

  .invoice-form fieldset {
    @apply space-y-6 mt-7 mb-5;
  }

  .invoice-form legend {
    @apply text-[15px] leading-[15px] tracking-[-0.25px] font-bold text-color-01;
  }
}

.invoice-form .payment-terms .options {
  @apply h-[191px] rounded-[8px]  py-2 shadow-xl shadow-color-05 dark:shadow-color-12 absolute top-0 bg-white dark:bg-color-04 w-full;
}

.invoice-form .payment-terms .calendar {
  @apply rounded-[8px]   shadow-xl shadow-color-05 dark:shadow-color-12 absolute top-0 bg-white dark:bg-color-04 w-full;
}

.invoice-form .payment-terms li {
  @apply font-semibold text-[15px] leading-[15px] tracking-[-0.25px] text-color-08 dark:text-color-05 cursor-pointer hover:text-color-01 transition-colors py-3.5 px-6;
}

.invoice-form .item-list {
  @apply text-color-17 text-lg leading-[32px] font-bold tracking-[-0.32px];
}

@layer utilities {
  .lds-ring,
  .lds-ring div {
    box-sizing: border-box;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 6px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #7c5dfa transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .top-shadow-medium {
    box-shadow: 0 -40px 50px -20px rgba(0, 0, 0, 0.1);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dfe3fa #ffffff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
